{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": { "node": "10" }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-throw-expressions"],
    [
      "module-resolver",
      {
        "alias": {
          "@common": "./common",
          "@controllers": "./controllers"
        }
      }
    ]
  ]
}